<mat-spinner *ngIf="loading"></mat-spinner>
<mat-card *ngIf="!loading">
  <h1 class="mat-display-1">Sign up</h1>
  <form [formGroup]="signupForm">
    <mat-form-field>
      <input matInput type="text" placeholder="Email" formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" formControlName="password">
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="signupForm.invalid" (click)="onSignup()">Submit</button>
    <p>{{ errorMessage }}</p>
  </form>
</mat-card>
